.Home {
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
  width: 70vw;
}

.Home-logo {
  pointer-events: none;
}

.Home-header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}
